.main {
  /* padding: 1rem; */
}

.noUse {
  width: 90%;
  height: 1rem;
  /* border: 1px solid #eee; */
  background: #FFFFFF;
  box-shadow: 0 0 28px 0 #EEEEEE;
  border-radius: 36px;
  margin: 0 auto;
  margin-top: .5rem;
}

.noUse span {
  line-height: 1rem;
  margin-left: .4rem
}

.noUse img,
.fr img {
  width: .38rem;
  float: right;
  margin: .32rem .45rem 0 0;
}

.fr img {
  margin: .32rem .3rem 0 0;
}

li {
  background: #FFFFFF;
  background: url(../images/wxz.png)no-repeat;
  background-size: 100%;
  padding: .5rem;
}

.money {
  font-size: 32px;
  color: #FFF;
  line-height: 45px;
}

.limit {
  font-size: 14px;
  color: #FFF;
  line-height: 20px;
}

.shopName {
  text-align: right;
  width: 3rem;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-top: .15rem;
  margin-right: .35rem;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap
}
.btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  width: 3rem;
  height: 0.88rem;
  margin-top: 1rem;
  font-size: 16px;
  background-image: linear-gradient(-90deg, #FCC900 0%, #FC9801 100%);
  box-shadow: 0 0 20px 0 rgba(252, 153, 1, 0.50);
  border-radius: 44px;
  border: none;
  color: #fff;
}