/*header*/
#container {
	margin-top: 0;
	padding: 0;
}

.toptop {
	width: 100%;
	height: 0.88rem;
	z-index: 1;
}

.topbox {
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
}

/*body*/
.content {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	-margin-top: 2.78rem;
	border-bottom: 0.18rem solid #faf9fe;
	border-top: 0.18rem solid #faf9fe;
	height: 1.8rem;
}

.content li {
	width: 100%;
	padding: 0.25rem 0;
}

.user {
	display: inline-block;
	float: left;
	width: 1rem;
	height: 1rem;
	margin: 0 0.1rem 0 0.24rem;
	border-radius: 50%;
	;
}

.opbox {
	padding-right: 0.24rem;
	float: left;
	width: 5rem;
}

.namebox {
	width: 5rem;
	display: inline-block;
	padding-top: 0.1rem;
}

.name {
	color: #434343;
	font-size: 0.36rem;
	display: inline-block;
	float: left;
}

.namebox i {
	float: right;
	font-size: 0.18rem;
}

.namebox a {
	display: inline-block;
	float: left;
	width: 1.18rem;
	height: 0.28rem;
	border: 1px solid #399af5;
	color: #399af5;
	font-size: 0.18rem;
	line-height: 0.28rem;
	text-align: center;
	border-radius: 0.05rem;
	margin: 0.07rem 0 0 0.1rem;
}

.title1 {
	display: inline;
	float: left;
	color: #666666;
	font-size: 0.2rem;
}

.star {
	float: left;
	margin: 0.05rem 0 0 0.1rem;
}

.star i {
	display: inline-block;
	float: left;
	width: 0.28rem;
	height: 0.28rem;
	background: url(../images/star.png) 0 0 no-repeat;
	background-size: 100% 100%;
	margin-top: 0.06rem;
	margin-right: 0;
	-display: none;
}

.star .aaa {
	background: url(../../images/change.png);
}
.style1 {
    display: block;
    float: left;
    width: 1.16rem;
    height: 1.16rem;
    margin: 0 0.25rem 0 0.24rem;
    border-radius: 0.1rem;
    border: 1px solid #ccc;}
.evaluate {
	width: 5rem;
	margin-top: .1rem;
	color: #333;
	font-size: 0.24rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.evaluatea {
	width: 5rem;
	-margin-left: .22rem;
	color: #666;
	font-size: 0.22rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 0 0.24rem;
	line-height: 0.44rem;
}

.evaluatea i {

	color: #ffb300;
	padding-right: 0.2rem;
	-background: url(../images/bb.png) right center no-repeat;
	background-size: 0.16rem 0.18rem;
}

.renz p {
	color: #999;
	font-size: 0.2rem;
	display: inline-block;
}

.renz p:first-child {
	float: left;
}

.renz p:nth-child(2) {
	float: right;
}

.news {
	outline: none;
	border: none;
	background: #fff;
	border: 1px solid #399af5;
	font-size: 0.18rem;
	line-height: 0.28rem;
	text-align: center;
	border-radius: 0.05rem;
	margin: 0.07rem 0 0 0.1rem;
	padding: 0 0.1rem;
	background: #399af5;
	color: #fff;
}



/*搜索眼光是*/
.search {
	padding: 0 0.24rem;
	height: 1.87rem;
	background: #2d9df7;
	margin-top: 0.88rem;
}

.glo {
	width: 100%;
}

.place {
	display: inline-block;
}

.placeicon {
	display: inline-block;
	float: left;
	width: 0.24rem;
	height: 0.32rem;
	margin: 0.29rem 0.1rem 0 0;
}

.place h3 {
	color: #fff;
	font-size: 0.32rem;
	display: inline-block;
	width: 2.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 0.9rem;
}

.show {
	display: inline-block;
	float: right;
	width: 0.26rem;
	height: 0.15rem;
	margin-top: 0.36rem;
}

.sear {
	width: 100%;
	height: 0.7rem;
	background: #fff;
	border-radius: 0.05rem;
}

.sear input {
	display: block;
	width: 2.6rem;
	color: #999;
	font-size: 0.32rem;
	line-height: 0.7rem;
	text-align: center;
	background: url(../../images/search.png) left center no-repeat;
	background-size: 0.26rem 0.26rem;
	margin: 0 auto;
	outline: none;
	border: none;
	text-indent: 0.28rem;
}

/*用户评价*/
.con {
	width: 100%;
	height: auto;
	float: left;
}

.boxone {
	padding: 0 0.24rem;
	border-bottom: 0.18rem solid #faf9fe;
	display: inline-block;
	width: 100%;
	float: left;
	padding: 0.25rem 0;
}

.content_top {
	width: 7.02rem;
	height: 0.9rem;
	border-bottom: 1px solid #e4e4e4;
	margin: 0 0.24rem;
}

.content_top li {
	float: left;
	width: 50%;
	line-height: 0.9rem;
	color: #333;
	text-align: center;
	font-size: 0.26rem;
}

.content_top .active {
	color: #fe7e03;
	font-size: 0.36rem;
	font-style: italic;
}

/*.con text {
	display: none;
}*/

/*.con .showbox {
	display: block;
}*/

.book {
	width: 6.5rem;
	height: 0rem;
	display: block;
	margin: 0.25rem auto 0.25rem;
}

.begoodat,
.createby {
	display: block;
	width: 90%;
	min-height: 0;
	padding: 0.15rem;
	margin: 0.1rem auto;
	border-radius: 0.1rem;
	font-size: 0.24;
	color: #414141;
	line-height: 0.36rem;
}

.bottom {
	width: 100%;
	height: 0.98rem;
	position: fixed;
	bottom: 0;
}

.bottom .fl {
	background: #fcb501;
}

.bottom .btn {
	float: left;
	width: 50%;
	height: 100%;
	text-align: center;
	line-height: 0.98rem;
	font-size: 0.32rem;
	color: #fff;
}

.bottom .fr {
	background: #fe5900;
}

.comment_list dl {
	display: flex;
}

.comment_list dl dt {
	width: 0.7rem;
	height: 0.7rem;
	margin: 0.1rem;
}

.comment_list dl dt img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}

.comment_list dl dd {
	font-size: 0.25rem;
	padding-top: 0.12rem;
	position: relative;
	width: 100%;
}

.comment_list dl dd p:first-child {
	color: #1c98ed;

}

.comment_list dl dd p:nth-child(2) {
	font-size: 0.24rem;
}

.eve {
	display: inline-block;
	position: absolute;
	right: 0.24rem;
	top: 0.2rem;
}

.evalist {
	width: 100%;
	height: auto;
	float: left;
	margin-top: 0.1rem;
	padding-bottom:0.8rem;
}

.evalist li {
	width: 100%;
	border-top: 1px dashed #ccc;
	padding: 0.1rem 0;
	float: left;
}

.evalist li:first-child {
	border-top: none;
}

.title,
.evaImg {
	display: inline-block;
	float: left;
	width: 100%;
}

.title img {
	width: 1rem;
	height: 1rem;
	float: left;
	-border-radius: 50%;
}

.title h4 {
	float: left;
	margin-top: 0.3rem;
}

.title i {
	float: right;
	margin-top: 0.35rem;
}

.estimate {
	font-size: 0.18rem;
	margin-bottom: 0.1rem;
	padding-left: 0.95rem;
}

.tupian {
	float: left;
	width: 2rem;
	-border-bottom: 1px solid #e4e4e4;
	display: inline-block;
	padding-bottom: 0.2rem;
}

.tupian img {
	display: inline-block;
	width: 1.78rem;
	height: 1.78rem;
	margin-right: 0.24rem;
	margin-left: 0.65rem;
}

.tupian img:last-child {
	margin-right: 0;
}

.evaImg img {
	width: 1rem;
	height: 1rem;
	float: left;
	border: 1px solid #ccc;
	margin-right: 0.1rem;
}

.all {
	display: inline;
	-width: 7rem;
	-background: url(../images/zige.png) left center no-repeat;
	background-size: 0.32rem 0.34rem;
	height: 0.34rem;
	text-indent: 0.4rem;
	color: #bcbcbc;
	font-size: 0.26rem;
	line-height: 0.34rem;
	margin: 0.5rem 0 0 0.1rem;
	-padding-left: .4rem;
}

.showa {
	display: block;
	width: 7rem;
	background: url(../images/green.png) left center no-repeat;
	background-size: 0.3rem 0.3rem;
	height: 0.34rem;
	text-indent: 0.4rem;
	color: #333;
	font-size: 0.26rem;
	line-height: 0.34rem;
	margin-left: 0.24rem;
}

.te {
	display: block;
	width: 7rem;
	background: url(../images/yellow.png) left center no-repeat;
	background-size: 0.3rem 0.3rem;
	height: 0.34rem;
	text-indent: 0.4rem;
	color: #333;
	font-size: 0.26rem;
	line-height: 0.36srem;
	margin-left: 0.24rem;
}

.pro {
	display: block;
	width: 7rem;
	background: url(../images/blue.png) left center no-repeat;
	background-size: 0.3rem 0.3rem;
	height: 0.34rem;
	text-indent: 0.4rem;
	color: #333;
	font-size: 0.26rem;
	line-height: 0.36srem;
	margin-left: 0.24rem;
}

.star1 {
	display: inline-block;
	float: left;
	margin-top: 0.28rem;
	-width: 2rem;
	height: 0.3rem;
	margin-left: 0.1rem;
}

.star1 img {
	display: inline-block;
	float: left;
	height: 0.3rem;
	width: 100%;
}

/*20181127验光师详情改版*/
.ek {
	color: #999;
	line-height: 0.9rem;
	font-size: 0.28rem;
	text-indent: 0.24rem;
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 0.1rem;
}

.close {
	position: absolute;
	top: -0.35rem;
	right: 0.3rem;
	color: #bcbcbc;
	z-index: 100000;
	font-size: 1em;
}

.close span {
	z-index: 1000;
}

.proList {
	padding: 0.2rem 0.24rem 0 0.24rem;
}

.proList li {
	font-size: 0.26rem;
	line-height: 0.5rem;
}

.more {
	text-align: center;
	line-height: 0.7rem;
	color: #333;
	font-size: 0.26rem;
}