footer {
	width: 100%;
	height: 0.98rem;
	position: fixed;
	bottom: 0;
	background: #fff;
	z-index: 99;
	-border-top: 0.02rem solid #d5d5d5;
	box-shadow:0 -2px 5px 0 rgba(0,0,0,0.05);
}
footer a {
	width: 25%;
	height: 100%;
	float: left;
}
footer a li {
	width: 100%;
	height: 0.78rem;
	-border-right: 0.02rem solid #d5d5d5;
	margin-top: 0.1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
footer a li.mine {
	border-right: 0;
}
footer a .index img {
	width: 0.5rem;
	height: 0.46rem;
}
footer a .shop img {
	width: 0.49rem;
	height: 0.43rem;
}
footer a .res img {
	width: 0.42rem;
	height: 0.43rem;
}
footer a .mine img {
	width: 0.41rem;
	height: 0.44rem;
}
footer a li p {
	font-size: 0.24rem;
	color: #333;
	margin-top: 0.05rem;
}
footer a li p.active {
	color: #ff4b00;
}
