<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>门店详情</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="../css/common/common.css" />
	<link rel="stylesheet" href="../css/common/header.css" />
	<link rel="stylesheet" href="../layui/css/layui.css">
	<link rel="stylesheet" href="../css/common/layer.css" />
	<link rel="stylesheet" href="../css/common/iconfont.css">
	<link rel="stylesheet" href="../css/common/swiper-4.2.2.min.css" />
	<link rel="stylesheet" href="../css/shop_info.css?v1.3" />

</head>

<body>
	<div id="container">
		<div class="shop_header" id="shopHeaderList">
		</div>
		<script type="text/html" id="shopHeaderTpl">
			<% var shopname=''%>
				<% for(var i = 0; i < data.imgs.length; i++) { %>
				<% if (data.imgs[i].type == '1') { %>
				<img src="<%:=data.imgs[i].imagePath %>" class="user" alt="门店照片" />
				<% } %>
				<% } %>
			</script>
		<section id="popularList">
		</section>
		<script type="text/html" id="popularTpl">
			<div class="content" id="popular">
					<% for(var i = 0; i < data.imgs.length; i++) { %>
					<% if (data.imgs[i].type == '1') { %>
					<span class="shop_one">
						<a href="javascript:;" class="style1" style="background:url('<%:=data.imgs[i].imagePath %>') no-repeat;background-size:cover;background-position: center center;display:block;width:0.96rem;height:0.96rem;border-radius: 0.1rem;margin:0.22rem 0 0.2rem 0.17rem;float:left;"></a>
						<% } %>
						<% } %>
						<span class="infobox">
						<p class="name" id="shopname">
							<%shopname = data.shop.shopname%>
							<% localStorage.setItem('shop_name', shopname) %>
							<%:=data.shop.shopname%>
						</p>
						<p class="star">
							<i></i>
							<i></i>
							<i></i>
							<i></i>
							<i></i>
						</p>
						<p class="times"> <i>营业时间：<%:=data.shop.businessHours%></i><span>(周一-周日)</p> <!--<b class="fr right">-->
							</span>
					</span>
					<span class="shop_two">
						<p class="phone" tel="">  
							<a href="tel: <%:=data.shop.phone%>" class="telephone" style="color:#1f9ef5">tel: <%:=data.shop.phone%></a>							
						</p>
						<p class="address">
							<% var address = data.shop.addresInfo.split(',')[0] + data.shop.addresInfo.split(',')[1] + data.shop.addresInfo.split(',')[2] %>
							<% localStorage.setItem('shop_address', address) %>
							<span class="" style="">地址：<%:=address%><%:=data.shop.addres%></span>
					</p>
					</span>
				</div>
			</script>
		<nav id="timeList">
		</nav>
		<!-- 店铺详情也买您添加用户可领取优惠券 -->
		<div class="receive-coupon" id="receive-coupon">
           <div class="couponbg">
			   <div class="price">￥200</div>
			   <div class="scope">
				   <span>无门槛</span>
				   <span>领取</span>
			   </div>
		   </div>
			<div class="couponbg-lingqu">
				<div class="price">￥200</div>
			</div>
		</div>

		<div class="content-tab">
			<ul class="content_top" id="aBtn">
				<li class="active" id="product-display">商品展示</li>
				<li id="shop-details">店铺详情</li>
			</ul>
		</div>
		<div id="products">
			<div class="swiper-container">
				<ul class="swiper-wrapper swiList">
					<a href="javascript:;" class="mirror">
						<li class="swiper-slide">镜架</li>
					</a>
					<a href="javascript:;" class="lens">
						<li class="swiper-slide">镜片</li>
					</a>
					<a href="javascript:;" class="hot">
						<li class="swiper-slide">配镜套餐</li>
					</a>
					<a href="javascript:;" class="contact">
						<li class="swiper-slide">其他</li>
					</a>
					<a href="javascript:;" class="sun">
						<li class="swiper-slide">太阳镜</li>
					</a>
					<a href="javascript:;" class="presbyopic">
						<li class="swiper-slide">老花镜</li>
					</a>
					<a href="javascript:;" class="nice">
						<li class="swiper-slide">护理产品</li>
					</a>
				</ul>
			</div>

			<div class="shop-goods fr">
				<ul id="mirrorList" style="display:block;" class="goodsBox">
				</ul>
				<script type="text/html" id="mirrorTpl">
					<% var j = 0; %>
						<% for(var i = 0; i < data.records.length; i++) { %>
						<% if (data.records[i].type == '2') { %>
						<% j++; %>
						<li class="textt" data-id="<%:=data.records[i].id%>">
							<img src="<%:=data.records[i].url%>" alt="商品图片">
							<p class="product-text1">
								<%:=data.records[i].productName%>
							</p>
							<p class="product-text">
								<del>原价:¥<span><%:=data.records[i].beginPrice.toFixed(2)%></span></del><span class="space"></span>
								<span class="now-price">现价:¥<b><%:=data.records[i].nowPrice.toFixed(2)%></b></span>
							</p>
						</li>
						<% } %>
						<% } %>
						<% if (j == 0) { %>
						<% $('.mirror').hide().attr('hiddens', 'hidden') %>
						<% $('#mirrorList').css({'displsy':'none'}) %>
						<% } %>
					</script>
				<ul id="lensList" style="display:block;" class="goodsBox">
				</ul>
				<script type="text/html" id="lensTpl">
					<% var j = 0; %>
						<% for(var i = 0; i < data.records.length; i++) { %>
						<% if (data.records[i].type == '3') { %>
						<% j++; %>
						<li class="textt" data-id="<%:=data.records[i].id%>">
							<img src="<%:=data.records[i].url%>" alt="商品图片">
							<p class="product-text1">
								<%:=data.records[i].productName%>
							</p>
							<p class="product-text">
								<del>原价:¥<span><%:=data.records[i].beginPrice.toFixed(2)%></span></del><span class="space"></span>
								<span class="now-price">现价:¥<b><%:=data.records[i].nowPrice.toFixed(2)%></b></span>
							</p>
						</li>
						<% } %>
						<% } %>
						<% if (j == 0) { %>
						<% $('.lens').hide().attr('hiddens', 'hidden') %>
						<% $('#lensList').css({'displsy':'none'})%>
						<% } %>
					</script>
				<ul id="hotList" style="display:block;">
				</ul>
				<script type="text/html" id="hotTpl" class="goodsBox">
					<% console.log(data) %>
						<% var j = 0; %>
						<% for (var i = 0; i < data.length; i++) { %>								
						<% j++; %>
						<li class="textttt" data-id="<%:=data[i].setmeal.id%>">
							<% if (!!data[i].file) { %>
								<img src="<%:=data[i].file.url%>" alt="">
							<% } else { %>
								<img src="" alt="">
							<% } %>
							<p class="product-text1">
								<%:=data[i].setmeal.name%>
							</p>
							<p class="product-text">
								<del>原价:¥<span><%:=data[i].setmeal.price.toFixed(2)%></span></del><span class="space"></span>
								<span class="now-price">现价:¥<b><%:=data[i].setmeal.nowPrice.toFixed(2)%></b></span>
							</p>
						</li>					
						<% } %>
						<% if (j == 0) { %>
						<% $('.hot').hide().attr('hiddens', 'hidden') %>
						<% $('#hotList').css({'displsy':'none'})%>
						<% } %>
					</script>
				<ul id="contactLensesList" style="display:block;" class="goodsBox">
				</ul>
				<script type="text/html" id="contactLensesTpl">
					<% var j = 0; %>
						<% for(var i = 0; i < data.records.length; i++) { %>
						<% if (data.records[i].type == '6') { %>
						<% j++; %>
						<li class="textt" data-id="<%:=data.records[i].id%>">
							<img src="<%:=data.records[i].url%>" alt="商品图片">
							<p class="product-text1">
								<%:=data.records[i].productName%>
							</p>
							<p class="product-text">
								<del>原价:¥<span><%:=data.records[i].beginPrice.toFixed(2)%></span></del><span class="space"></span>
								<span class="now-price">现价:¥<b><%:=data.records[i].nowPrice.toFixed(2)%></b></span>
							</p>
						</li>
						<% } %>
						<% } %>
						<% if (j == 0) { %>
						<% $('.contact').hide().attr('hiddens', 'hidden') %>
						<% $('#contactLensesList').css({'displsy':'none'}) %>
						<% } %>
					</script>
				<ul id="sunGlassesList" style="display:block;" class="goodsBox">
				</ul>
				<script type="text/html" id="sunGlassesTpl">
					<% var j = 0; %>
						<% for(var i = 0; i < data.records.length; i++) { %>
						<% if (data.records[i].type == '5') { %>
						<% j++; %>
						<li class="textt" data-id="<%:=data.records[i].id%>">
							<img src="<%:=data.records[i].url%>" alt="商品图片">
							<p class="product-text1">
								<%:=data.records[i].productName%>
							</p>
							<p class="product-text">
								<del>原价:¥<span><%:=data.records[i].beginPrice.toFixed(2)%></span></del><span class="space"></span>
								<span class="now-price">现价:¥<b><%:=data.records[i].nowPrice.toFixed(2)%></b></span>
							</p>
						</li>
						<% } %>
						<% } %>
						<% if (j == 0) { %>
						<% $('.sun').hide().attr('hiddens', 'hidden') %>
						<% $('#sunGlassesList').css({'displsy':'none'}) %>
						<% } %>
					</script>
				<ul id="presbyopicGlassesList" style="display:block;" class="goodsBox">
				</ul>
				<script type="text/html" id="presbyopicGlassesTpl">
					<% var j = 0; %>
						<% for(var i = 0; i < data.records.length; i++) { %>
						<% if (data.records[i].type == '7') { %>
						<% j++; %>
						<li class="textt" data-id="<%:=data.records[i].id%>">
							<img src="<%:=data.records[i].url%>" alt="商品图片">
							<p class="product-text1">
								<%:=data.records[i].productName%>
							</p>
							<p class="product-text">
								<del>原价:¥<span><%:=data.records[i].beginPrice.toFixed(2)%></span></del><span class="space"></span>
								<span class="now-price">现价:¥<b><%:=data.records[i].nowPrice.toFixed(2)%></b></span>
							</p>
						</li>
						<% } %>
						<% } %>
						<% if (j == 0) { %>
						<% $('.presbyopic').hide().attr('hiddens', 'hidden') %>
						<% $('#presbyopicGlassesList').css({'displsy':'none'})%>
						<% } %>
					</script>
				<ul id="niceGlassesList" style="display:block;" class="goodsBox">
				</ul>
				<script type="text/html" id="niceGlassesTpl">
					<% var j = 0; %>
						<% for(var i = 0; i < data.records.length; i++) { %>
						<% if (data.records[i].type == '8') { %>
						<% j++; %>
						<li class="textt" data-id="<%:=data.records[i].id%>">
							<img src="<%:=data.records[i].url%>" alt="商品图片">
							<p class="product-text1">
								<%:=data.records[i].productName%>
							</p>
							<p class="product-text">
								<del>原价:¥<span><%:=data.records[i].beginPrice.toFixed(2)%></span></del><span class="space"></span>
								<span class="now-price">现价:¥<b><%:=data.records[i].nowPrice.toFixed(2)%></b></span>
							</p>
						</li>
						<% } %>
						<% } %>
						<% if (j == 0) { %>
						<% $('.nice').hide().attr('hiddens', 'hidden') %>
						<% $('#niceGlassesList').css({'displsy':'none'})%>
						<% } %>
					</script>
			</div>
			<div class="clearboth"></div>

		</div>
		<div class="goodsNone">
			<img src="../images/none.png" alt="" class="shopnone" style="width:3.3rem;" />
			<p class="inner">这个店家还没上传商品呢，您可直 接到店去挑选商品，或者查看相似的店家！</p>
			<p class="ekinfo">本店由“e可眼镜”技术支持，想关注更多搜索微信公众号“e可眼镜”</p>
		</div>
		<div class="con" id="mall-detail">
			<article class="showbox" id="shopdel">
				<aside class="introduce">店铺设施介绍:</aside>
				<article class="introduce-detail" id="shopDetailList">
				</article>
				<script type="text/html" id="shopDetailTpl">
					<p class="shop">
							<%:=data.shop.introduce%>
						</p>
					</script>
				<div class="introduce-pic" id="introducePicList">
				</div>
				<script type="text/html" id="introducePicTpl">
					<% for(var i = 0, j = 0; i < data.imgs.length; i++) { %>
						<% if (data.imgs[i].type == '2') { %>
						<% j++ %>
						<img src="<%:=data.imgs[i].imagePath %>" alt="店铺介绍" class="shopdel<%:=j %>" id="a" />
						<% } %>
						<% } %>
					</script>
				<div class="comment_list" id="shopStaffList">
				</div>
				<script type="text/html" id="shopStaffTpl">
					<aside class="introduce">店内人员:</aside>
						<% for(var i = 0; i < data.length; i++) { %>
						<dl class="shop-staff-detail" data-id="<%:=data[i].id %>">
							<dt class="staff-pic">
								<img src="<%:=data[i].image %>">
							</dt>
							<dd>
								<span class="staff-name"><%:=data[i].name %></span>
								<span class="stars">
									<i></i>
									<i></i>
									<i></i>
									<i></i>
									<i></i>
								</span>
								<p class="staff-introduce">
									<%:=data[i].introduction %>
								</p>
							</dd>
						</dl>
						<% } %>
					</script>
			</article>
			<span class="boxone">
				<h4 class="pro">可提供服务项目：</h4>
				<ul class="proList">
				</ul>
			</span>
			<article id="evaluation" style="padding:0 0.24rem;display:block;border-top:0.2rem solid #f0f4f3;">
				<aside class="introduce">用户评价:</aside>
				<ul class="evalist" id="evalistList">
				</ul>
				<script type="text/html" id="evalistTpl">
					<% if ( !!data.result ) { %>
						<% for(var i = 0; i < data.result.length; i++) { %>
						<% var star = parseFloat(data.result[i].comment.star); %>
						<% var star1 = parseFloat(data.result[i].comment.star1); %>
						<% var starNum = (star+star1)/2; %>
						<% var starpng = '' %>
						<% if(starNum>0 && starNum <=1){ %>
						<% starpng = "../images/star.png"; %>
						<% $('.star1 img').css("width","5%")%>
						<% }else if(starNum>1 && starNum <=2){%>
						<% starpng = "../images/two.png"; %>
						<% }else if(starNum>2 && starNum <=3){ %>
						<% starpng = "../images/three.png"; %>
						<% }else if(starNum>3 && starNum <=4){ %>
						<% starpng = "../images/four.png"; %>
						<% }else if(starNum>4 && starNum <=5){ %>
						<% starpng = "../images/wu.png"; 	%>
						<% } %>
						<li>
							<div class="comment-pic fl">
								<img src="<%:=data.result[i].userimg %>">
							</div>
							<div class="comment-text fr">
								<span class="staff-name"><%:=data.result[i].comment.iphone%></span>
								<span class="star1">
										<img src="<%:=starpng %>" style=" margin-top: -.15rem; margin-left: .1rem"/>
									</span>
								<% var updateTime = data.result[i].comment.updateTime.split('T')[0]%>
								<i class="fr"><%:=updateTime%></i>
								<p class="estimate">
									<%:=data.result[i].comment.commentContent%>
								</p>
								<span class="evaImg">
										<% for(var j = 0; j < data.result[i].img.length; j++) { %>
											<img src="<%:=data.result[i].img[j].imagePath %>" alt="评价图片" />
										<% } %>
									</span>
							</div>
						</li>
						<% } %>
						<p class="more">查看更多 ></p>
						<% } %>
					</script>
			</article>
		</div>
		<footer></footer>

		<div class="footer">
			<div id="evaluate" class="btn fl">
				<img src="../images/pingjia.png" alt="">
				<p>去评价</p>
			</div>
			<div class="line">|</div>
			<div id="consult" class="btn fr fl">
				<img src="../images/zixun.png" alt="">
				<p>立即咨询</p>
			</div>
			<div id="buy" class="btn buy">我要买单</div>
		</div>
		<div id="outerdiv" style="position:fixed;top:0;left:0;background:rgba(0,0,0,0.7);z-index:2;width:100%;height:100%;display:none;">
			<div id="innerdiv" style="position:absolute;">
				<img id="bigimg" style="border:5px solid #fff;" src="" />
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../js/common/jquery-3.3.1.min.js"></script>
	<script src="../js/common/common.js"></script>
	<script type="text/javascript" src="../js/common/layer.js"></script>
	<script src="../js/common/template.js"></script>
	<script src="../js/common/layui.js"></script>
	<script src="../js/common/layer.js"></script>
	<script type="text/javascript" src="../js/common/swiper-4.2.2.min.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
	<script src="../js/common/jweixin-1.0.0.js" tppabs="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script src="../js/common/zepto.min.js" tppabs="http://203.195.235.76/jssdk/js/zepto.min.js"></script>
	<script src="../js/common/demo.js?v1.0" tppabs="http://203.195.235.76/jssdk/js/demo.js"></script>
	<script src="../js/alljs/shop_detail.js?v1.5"></script>
	<script type="text/javascript" src="../jsweixin.js"></script>
	<script>
		var swiper = new Swiper('.swiper-container', {
			slidesPerView: 3,
			spaceBetween: 30,
			freeMode: true,
			pagination: {
				el: '.swiper-pagination',
				clickable: true,
			},
		});
	</script>

	<script>
		$('#hotList').on('click', '.textttt', function () {
			console.log($(this))
			var id = $(this).attr('data-id');
			localStorage.setItem('setmealid', id);
			location.href = 'combo_detail.html?getOpenId=1';
		})
		$('.goodsBox').on('click', '.textt', function () {
			var productId = $(this).attr('data-id');
			localStorage.setItem('productId', productId);
			localStorage.setItem('productImg', $(this).children('img').attr('src'));
			localStorage.setItem('shopName', $('#shopname').text());
			location.href = 'goods_detail.html?productId='+productId;
		})
	</script>

	<script>
		$(function () {
			$('#popularList').on('click', '.shop_one', function () {
				$('.content_top li:nth-child(2)').addClass('active');
				$('.content_top li:first-child').removeClass('active');
				$('#mall-detail').css('display', 'block');
				$('#products').css('display', 'none');
			})
			$('.swiList a').click(function () {
				//alert(1);
				$(".swiList a").eq($(this).index()).addClass("cur").siblings().removeClass('cur');
				$(".shop-goods ul").hide().eq($(this).index()).show();
			})
			setTimeout(function () {
				if (!$('.mirror').attr('hiddens')) {
					$("#mirrorList").show().siblings().hide();
					$(".mirror").eq($(this).index()).addClass("cur").siblings().removeClass('cur');
				} else if (!$('.lens').attr('hiddens')) {
					$("#lensList").show().siblings().hide();
					$(".lens").eq($(this).index()).addClass("cur").siblings().removeClass('cur');
				}else if (!$('.hot').attr('hiddens')) {
					$("#hotList").show().siblings().hide();
					$(".hot").eq($(this).index()).addClass("cur").siblings().removeClass('cur');
				} else if (!$('.contact').attr('hiddens')) {
					$("#contactLensesList").show().siblings().hide();
					$(".contact").eq($(this).index()).addClass("cur").siblings().removeClass('cur');
				} else if (!$('.sun').attr('hiddens')) {
					$("#sunGlassesList").show().siblings().hide();
					$(".sun").eq($(this).index()).addClass("cur").siblings().removeClass('cur');
				} else if (!$('.presbyopic').attr('hiddens')) {
					$("#presbyopicGlassesList").show().siblings().hide();
					$(".presbyopic").eq($(this).index()).addClass("cur").siblings().removeClass('cur');
				} else if (!$('.nice').attr('hiddens')) {
					$("#niceGlassesList").show().siblings().hide();
					$(".nice").eq($(this).index()).addClass("cur").siblings().removeClass('cur');
				} 
			}, 100)
		})
	</script>
	<script>
		var href = location.href;
		var shopId = href.split('?')[1].split('=')[1].split('#')[0].split('&')[0];
		var shopName;
		var headImg;
		$.ajax({
			type: "post",
			url: global + "/shop/queryShopByShopId",
			async: true,
			data: {
				"shopId": shopId
			},
			success: function (data) {
				var res = data.data;
				shopName = res.shop.shopname;
				localStorage.setItem('lat', res.shop.latitude)
				localStorage.setItem('lon', res.shop.longitude)
				for (var i = 0; i < res.imgs.length; i++) {
					if (res.imgs[i].type == '1') {
						headImg = res.imgs[i].imagePath;
					}
				}
				var appid = "";
				var timestamp = "";
				var signature = "";
				var noncestr = "";
				$.ajax({
					type: "post",
					url: global + '/wexin/pu/getWxData',
					async: false,
					success: function (data) {
						appid = data.data.appid;
						timestamp = data.data.timestamp;
						signature = data.data.signature;
						noncestr = data.data.noncestr;
					}
				});
				wx.config({
					debug: false,
					appId: appid,
					timestamp: timestamp,
					nonceStr: noncestr,
					signature: signature,
					jsApiList: [
						'checkJsApi',
						'onMenuShareTimeline',
						'onMenuShareAppMessage',
						'onMenuShareQQ',
						'onMenuShareWeibo',
						'onMenuShareQZone',
						'hideMenuItems',
						'showMenuItems',
						'hideAllNonBaseMenuItem',
						'showAllNonBaseMenuItem',
						'translateVoice',
						'startRecord',
						'stopRecord',
						'onVoiceRecordEnd',
						'playVoice',
						'onVoicePlayEnd',
						'pauseVoice',
						'stopVoice',
						'uploadVoice',
						'downloadVoice',
						'chooseImage',
						'previewImage',
						'uploadImage',
						'downloadImage',
						'getNetworkType',
						'openLocation',
						'getLocation',
						'hideOptionMenu',
						'showOptionMenu',
						'closeWindow',
						'scanQRCode',
						'chooseWXPay',
						'openProductSpecificView',
						'addCard',
						'chooseCard',
						'openCard'
					]
				});
				wx.ready(function () {
					wx.onMenuShareTimeline({
						title: shopName,
						desc: '我在这里发现一个好店！速来围观！！！',
						link: 'http://wx.bjysjglasses.com/ek/web/html/shop_detail.html?shopId=' + shopId,
						imgUrl: headImg,
						trigger: function (res) {
						},
						success: function (res) {
							layer.msg('已分享')
						},
						cancel: function (res) {
							layer.msg('已取消');
						},
						fail: function (res) {
						}
					});
					wx.onMenuShareAppMessage({
						title: shopName,
						desc: '我在这里发现一个好店！速来围观！！！',
						link: 'http://wx.bjysjglasses.com/ek/web/html/shop_detail.html?shopId=' + shopId,
						imgUrl: headImg,
						trigger: function (res) {
						},
						success: function (res) {
							layer.msg('已分享')
						},
						cancel: function (res) {
							layer.msg('已取消');
						},
						fail: function (res) {
						}
					});
					wx.onMenuShareQQ({
						title: shopName,
						desc: '我在这里发现一个好店！速来围观！！！',
						link: 'http://wx.bjysjglasses.com/ek/web/html/shop_detail.html?shopId=' + shopId,
						imgUrl: headImg,
						trigger: function (res) {
						},
						success: function (res) {
							layer.msg('已分享')
						},
						cancel: function (res) {
							layer.msg('已取消');
						},
						fail: function (res) {
						}
					});
					wx.onMenuShareQZone({
						title: shopName,
						desc: '我在这里发现一个好店！速来围观！！！',
						link: 'http://wx.bjysjglasses.com/ek/web/html/shop_detail.html?shopId=' + shopId,
						imgUrl: headImg,
						trigger: function (res) {
						},
						success: function (res) {
							layer.msg('已分享')
						},
						cancel: function (res) {
							layer.msg('已取消');
						},
						fail: function (res) {
						}
					});
				});
			}
		});
	</script>
</body>

</html>