<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>店铺主页</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="../css/common/common.css" />
	<link rel="stylesheet" href="../css/common/header.css" />
	<link rel="stylesheet" href="../css/common/layui.css">
	<link rel="stylesheet" href="../css/common/layer.css">
	<link rel="stylesheet" href="../css/common/iconfont1.css">
	<link rel="stylesheet" href="../css/shop_detail.css?v1.0.2" />

	<style>
		.edit-info,
			.delete-info {
				position: absolute;
				top: 0;
				right: .2rem;
				font-size: 12px;
				color: skyblue;
			}
			
			.delete-info {
				right: 1.5rem;
			}
			
			.content_top li {
				font-weight: 700;
			}
			
			.active {
				color: #1f9ef5;
			}
		</style>
</head>

<body>
	<div id="container">
		<div class="imgbox">
			<img src="../e可平台/resources/chrome/axure_logo.gif" class="user" alt="门店照片" />
			<a href="message_list.html" class="news-info">
			</a>
		</div>
		<div id="wrapper">
			<div id="scroller">
				<div class="conbox">
					<ul class="content" id="popular">
						<li>
							<span class="shop_one">
								<a href="javascript:;" class="style1" style="display:block;width:0.96rem;height:0.96rem;border-radius: 0.1rem;margin:0.22rem 0 0.2rem 0.17rem;float:left;"></a>
								<span class="infobox">
									<p class="name" id="shopname">
									</p>
									<p class="star">
										<i></i>
										<i></i>
										<i></i>
										<i></i>
										<i></i>
									</p>
									<p class="times" id="shoptime"> <i>营业时间：</i><span>(周一-周日)</p>
								</span>
							</span>
							<span class="shop_two">
								<p class="phone" tel="" id="shoptel">
								</p>
								<p class="address">
									<span class="" style="">地址：</span>
								</p>
							</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="con" id="container">
				<ul class="content_top" id="">
					<li class="active" id="product-display">商品展示</li>
					<li id="shop-details">店铺介绍</li>
				</ul>
				<div id="products">
					<ul class="left-tab fl" style="position:absolute;top:9.2rem;">
						<a href="#mirror" class="actives">
							<li>镜架</li>
						</a>
						<a href="#lens">
							<li>镜片</li>
						</a>
						<a href="#hot">
							<li>配镜套餐</li>
						</a>
						<a href="#contact-lenses">
							<li>隐形眼镜</li>
						</a>

						<a href="#sun-glasses">
							<li>太阳镜</li>
						</a>
						<a href="#presbyopic-glasses">
							<li>老花镜<li>
						</a>
						<a href="#nice-glasses" style="line-height:1rem;text-align: center;">
							<li style="line-height:1rem;text-align: center;">护理产品<li>
						</a>
					</ul>
					<div class="shop-goods fr">
						<aside class="introduces" id="mirror">镜架:</aside>
						<ul id="mirrorList">
						</ul>
						<script type="text/html" id="mirrorTpl">
							<% for(var i = 0; i < data.records.length; i++) { %>
								<% if (data.records[i].type == '2') { %>
								<li class="textttt" data-id="<%:=data.records[i].id%>">
									<img src="<%:=data.records[i].url%>" alt="假装有图">
									<p class="product-text1">
										<%:=data.records[i].productName%>
									</p>
									<p class="product-text">
										<del>原价:¥<span><%:=data.records[i].beginPrice.toFixed(2)%></span></del><span class="space"></span>
										<span class="now-price">现价:¥<b><%:=data.records[i].nowPrice.toFixed(2)%></b></span>
									</p>
								</li>
								<% } %>
								<% } %>
							</script>
						<aside class="introduces" id="lens">镜片:</aside>
						<ul id="lensList">
						</ul>
						<script type="text/html" id="lensTpl">
							<% for(var i = 0; i < data.records.length; i++) { %>
								<% if (data.records[i].type == '3') { %>
								<li class="textttt" data-id="<%:=data.records[i].id%>">
									<img src="<%:=data.records[i].url%>" alt="假装有图">
									<p class="product-text1">
										<%:=data.records[i].productName%>
									</p>
									<p class="product-text">
										<del>原价:¥<span><%:=data.records[i].beginPrice.toFixed(2)%></span></del><span class="space"></span>
										<span class="now-price">现价:¥<b><%:=data.records[i].nowPrice.toFixed(2)%></b></span>
									</p>
								</li>
								<% } %>
								<% } %>
							</script>
						<aside class="introduces" id="hot">配镜套餐:</aside>
						<ul id="hotList">
						</ul>
						<aside class="introduces" id="contact-lenses">隐形眼镜:</aside>
						<ul id="contactLensesList">
						</ul>
						<script type="text/html" id="contactLensesTpl">
							<% for(var i = 0; i < data.records.length; i++) { %>
								<% if (data.records[i].type == '6') { %>
								<li class="textttt" data-id="<%:=data.records[i].id%>">
									<img src="<%:=data.records[i].url%>" alt="假装有图">
									<p class="product-text1">
										<%:=data.records[i].productName%>
									</p>
									<p class="product-text">
										<del>原价:¥<span><%:=data.records[i].beginPrice.toFixed(2)%></span></del><span class="space"></span>
										<span class="now-price">现价:¥<b><%:=data.records[i].nowPrice.toFixed(2)%></b></span>
									</p>
								</li>
								<% } %>
								<% } %>
							</script>
						<aside class="introduces" id="sun-glasses">太阳镜:</aside>
						<ul id="sunGlassesList">
						</ul>
						<script type="text/html" id="sunGlassesTpl">
							<% for(var i = 0; i < data.records.length; i++) { %>
								<% if (data.records[i].type == '5') { %>
								<li class="textttt" data-id="<%:=data.records[i].id%>">
									<img src="<%:=data.records[i].url%>" alt="假装有图">
									<p class="product-text1">
										<%:=data.records[i].productName%>
									</p>
									<p class="product-text">
										<del>原价:¥<span><%:=data.records[i].beginPrice.toFixed(2)%></span></del><span class="space"></span>
										<span class="now-price">现价:¥<b><%:=data.records[i].nowPrice.toFixed(2)%></b></span>
									</p>
								</li>
								<% } %>
								<% } %>
							</script>
						<aside class="introduces" id="presbyopic-glasses">老花镜:</aside>
						<ul id="presbyopicGlassesList">
						</ul>
						<script type="text/html" id="presbyopicGlassesTpl">
							<% for(var i = 0; i < data.records.length; i++) { %>
								<% if (data.records[i].type == '7') { %>
								<li class="textttt" data-id="<%:=data.records[i].id%>">
									<img src="<%:=data.records[i].url%>" alt="假装有图">
									<p class="product-text1">
										<%:=data.records[i].productName%>
									</p>
									<p class="product-text">
										<del>原价:¥<span><%:=data.records[i].beginPrice.toFixed(2)%></span></del><span class="space"></span>
										<span class="now-price">现价:¥<b><%:=data.records[i].nowPrice.toFixed(2)%></b></span>
									</p>
								</li>
								<% } %>
								<% } %>
							</script>
							<aside class="introduces" id="nice-glasses">护理产品:</aside>
							<ul id="niceGlassesList">
							</ul>
							<script type="text/html" id="niceGlassesTpl">
								<% for(var i = 0; i < data.records.length; i++) { %>
									<% if (data.records[i].type == '8') { %>
									<li class="textttt" data-id="<%:=data.records[i].id%>">
										<img src="<%:=data.records[i].url%>" alt="假装有图">
										<p class="product-text1">
											<%:=data.records[i].productName%>
										</p>
										<p class="product-text">
											<del>原价:¥<span><%:=data.records[i].beginPrice.toFixed(2)%></span></del><span class="space"></span>
											<span class="now-price">现价:¥<b><%:=data.records[i].nowPrice.toFixed(2)%></b></span>
										</p>
									</li>
									<% } %>
									<% } %>
								</script>
					</div>
					<div class="clearboth"></div>
				</div>
				<article class="showbox" id="shopdel">
					<div class="showdiv" style="border-bottom:0.2rem solid #f0f4f3;padding:0.1rem 0.24rem;">
						<h4 style="line-height: 1rem;position:relative;font-size: 0.3rem;">店内人员
						</h4>
						<div class="comment_list">

						</div>
					</div>

					<h4 class="shopshow">店铺设施介绍</h4>
					<p class="shop"></p>
					<div class="shopdel">

					</div>

					<span class="boxone">
						<h4 class="pro">可提供服务项目：</h4>
						<ul class="proList">
						</ul>
					</span>
				</article>
			</div>

			<div class="bottom">
				<ul id="addCar" class="btn fl view-notice" style="width: 100%;background: #fff;">
					<li class="fl active" onclick="location.href='shop_info.html'">
						<i class="iconfont shop_info">&#xe625;</i>
						<p class="bottom_text">主页</p>
					</li>
					<li class="fl" onclick="location.href='goods_order_list_B.html'">
						<i class="iconfont icon-weibiaoti-"></i>
						<p class="bottom_text">订单</p>
					</li>
					<li class="fl" onclick="location.href='manual_input.html'">
						<i class="iconfont icon-saoma"></i>
						<p class="bottom_text">兑换</p>
					</li>
					<li class="fl" onclick="location.href='mineB.html'">
						<i class="iconfont mine">&#xe62e;</i>
						<p class="bottom_text">我的</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	</div>
	<script type="text/javascript" src="../js/common/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../js/common/common.js?v1.3"></script>
	<script type="text/javascript" src="../js/common/template.js?v1.3"></script>
	<script src="../js/common/layui.js"></script>
	<script src="../js/common/layer.js"></script>
	<script src="../js/alljs/shop_info.js?v1.7"></script>
	<script>
		setTimeout(function () {
			$(document).ready(function () {
				if (location.href.indexOf("#reloaded") == -1) {
					location.href = location.href + "#reloaded";
					location.reload();
				}
			})
		}, 80)
		$('#addCar li').click(function () {
			$(this).addClass('active').removeClass('active');
		})
	</script>
</body>

</html>
